<div class="collection">
  <div class="collection-item center-align blue-grey darken-4 white-text">
    Administrator
  </div>
  <a href="/setting/gatt" class="collection-item black white-text"><i class="material-icons left">settings_bluetooth</i>GATT Rule</a>
  <a href="/setting/profile" class="collection-item black white-text"><i class="material-icons left">account_circle</i>Profile</a>
  <a href="/logout" class="collection-item black white-text"><i class="material-icons left">exit_to_app</i>Logout</a>
</div>
