<!DOCTYPE html>
<html lang="en">
<head>
  <title>IOT-GO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/static/chart.js"></script>
</head>
<body>

<nav>
  <div class="nav-wrapper teal accent-4">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a href="/"><i class="material-icons">devices</i></a></li>
      <li><a href="/device"><i class="material-icons">settings_remote</i></a></li>
      <li><a href="collapsible.html"><i class="material-icons">settings</i></a></li>
    </ul>
  </div>
</nav>
<div>

      <ul class="collection with-header">
        <li class="collection-header"><h4>First Names</h4></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
      </ul>

</div>



<script>
var viz1 = new LineChart();
viz1.init();

var url = 'http://' + document.domain + ':' + location.port + '/message';
console.log(url);
var socket = io.connect(url);

socket.on('status', function(msg) {
  console.log(msg.data);
});

socket.on('update', function(msg) {
  viz1.update(msg.data);
});


var elem = document.querySelector('.collapsible.popout');
var instance = M.Collapsible.init(elem, {
  accordion: false
});
        
</script>




</body>
</html>

