<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<div class="container">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Location</th>
        <th>Last Connection</th>
        <th style="width:50px">Edit</th>
        <th style="width:50px">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for dev in devs %}
      <tr>
        <td> <a href="/device?id={{dev.devid}}">{{dev.devid}}</a></td>
        <td>{{dev.config.type}}</td>
        <td>{{dev.config.location}}</td>
        <td>2019-03-02 14:32:33</td>
        <td class="center-align">
          <a href="/device/setting?id={{dev.devid}}">
            <i class="material-icons">edit</i>
          </a>
        </td>
        <td class="center-align">
          <a href="/device/deletion?id={{dev.devid}}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a class="btn-floating waves-effect waves-light teal accent-4 right modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <table id="scan">
      <h4>
        <thead>
          <tr>
            <th>Selection</th>
            <th>ID</th>
            <th>Type</th>
            <th>Signal</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </h4>
    </table>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn" onclick="add_devices()">SUBMIT</a>
  </div>
</div>


<script>

var socket;

function scan() {
  var url = 'http://' + document.domain + ':' + location.port + '/scan';
  socket = io.connect(url);
  socket.on('scan', function(msg) {
    console.log(msg);
    let obj = JSON.parse(msg);
    let table = document.getElementById("scan");
    let row = table.insertRow(-1);
    let check = row.insertCell(0);
    let mac = row.insertCell(1);
    let type = row.insertCell(2);
    let rssi = row.insertCell(3);
    let value = obj.mac + "|" + obj.type;
    check.innerHTML = '<label><input class="mac_checked" value="' + value + '" type="checkbox" /><span class="center-align"></span></label>';
    mac.innerHTML = obj.mac;
    type.innerHTML = obj.type;
    rssi.innerHTML = obj.rssi;
  });
}

function close() {
  let length = document.getElementById("scan").rows.length-1;
  for(let i = 0; i < length; i++)
    document.getElementById("scan").deleteRow(-1);
  socket.disconnect();

}

document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.modal');
  var instances = M.Modal.init(elems, {
    onOpenStart: scan,
    onCloseStart: close,
  });
});


function add_devices() {

  let inputElements = document.getElementsByClassName("mac_checked");
  for(let i = 0; inputElements[i]; ++i){
    if(inputElements[i].checked){
      checkedValue = inputElements[i].value;
      obj = {"devid": checkedValue.split("|")[0], "type": checkedValue.split("|")[1]};
      socket.emit("add", obj);
    }
  }
  socket.disconnect();
  location.reload();
}


</script>




</body>
</html>

