<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<div class="container">
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Last Connection</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <a href="/device?id=r4vwwbav">r4vwwbav</a></td>
        <td>Thermometer</td>
        <td>2019-03-02 14:32:33</td>
      </tr>
    </tbody>
  </table>
  <br>
  <a class="btn-floating waves-effect waves-light teal accent-4 right modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
</div>

<div id="modal1" class="modal">
  <form action="/device" method="post">
    <div class="modal-content">
      <h4> Secret Key </h4>
      <div class="input-field">
        <input id="key" name="key" type="text" class="validate">
        <label for="key"> key </label>
      </div>
    </div>
    <div class="modal-footer">
<a class="modal-close waves-effect waves-green btn-flat">CANCEL</a>
<button type="submit" class="modal-close waves-effect waves-green btn-flat">SUBMIT</button>
    </div>
  </form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  });
</script>




</body>
</html>

