<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<div class="container">
<div class="row">
  <div class="col l6 m12 s12">
    <div class="card" id="viz1">
    </div>
    <div class="card" id="viz2">
    </div>
  </div>
  <div class="col l6 m12 s12">
  <div class="card">
  <div class="card-content">
  <span class="card-title">Device Setting</span>
   <form>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="30" id="disabled" type="text" class="validate">
          <label for="disabled"> Upper Limit </label>
        </div>
      </div>
    </form>
  </div>
  </div>
  </div>
</div>
</div>
<script>
var viz1 = new LineChart("#viz1");
viz1.init();
var viz2 = new LineChart("#viz2");
viz2.init();

var url = 'http://' + document.domain + ':' + location.port + '/message';
console.log(url);
var socket = io.connect(url);

socket.on('status', function(msg) {
  console.log(msg.data);
});

socket.on('update', function(msg) {
  viz1.update(msg.data);
  viz2.update(msg.data);
});


var elem = document.querySelector('.collapsible.popout');
var instance = M.Collapsible.init(elem, {
  accordion: false
});
        
</script>




</body>
</html>

