<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<div class="container">
 <div class="row">
 <div class="col s6 l4">
  <ul class="collection with-header">
    <li class="collection-header"> App </li>
    <a class="collection-item" id="grafana"><img src="/static/images/grafana-labs.svg" class="responsive-img"></a>
  </ul>
 </div>
 </div>
</div>
<script>
document.getElementById("grafana").href= "http:" + window.location.href.split(":")[1] + ":3000/";
</script>


</body>
</html>

