<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<div class="container">
  <div class="row">

  <div class="col l6 m12 s12">

    <div class="row">
    <div class="col m6 s12">
      <div class="card">
        <div class="card-content">
          <h6> Temperature </h6>
          <span class="card-title activator center"> <h3 id="temp" class="red-text text-lighten-3">23.6<small> ℃ </small></h3> </span>
        </div>
      </div>
    </div>

    <div class="col m6 s12">
      <div class="card">
        <div class="card-content">
          <h6> Humidity </h6>
          <span class="card-title activator center"> <h3 id="humi" class="blue-text text-lighten-3"> 70 <small> % </small> </h3> </span>
        </div>
      </div>
    </div>

    </div>

  </div>
  </div>
</div>



<script>

var url = 'http://' + document.domain + ':' + location.port + '/message';
console.log(url);
var socket = io.connect(url);

socket.on('status', function(msg) {
  console.log(msg.data);
});

socket.on('update', function(msg) {
  console.log(msg.data);
  var obj = JSON.parse(msg.data);
  document.getElementById("humi").innerHTML = obj["h"] + "<small> % </small>";
  document.getElementById("temp").innerHTML = obj["t"] + "<small> ℃ </small>";
});

</script>




</body>
</html>

