<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'nav.html' %}

<main>

<div class="container">
<div class="row">
  <div class="card col s12 offset-l3 l6">
    <div class="card-content">
      <span class="card-title center-align"> Sign in </span>
      <br>
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input name="username" type="text" class="validate">
            <label for="username">{{form.username.label}}</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input name="password" type="password" class="validate">
            <label for="password">{{form.password.label}}</label>
          </div>
        </div>
        <div class="row center-align">
          <button class="btn waves-effect waves-light green" type="submit">Login</button>
        </div>
      </form>


    </div>
  </div>
</div>
</div>        

</main>
</body>
</html>
